PDF Lang flag raises error

We have been seeing a lot of error messages when validating the PDF/A in our archive with VeraPDF which other validators deem valid.

The error is from the /Lang tag if there is no space between /Lang and the language tag. 
![Image](https://github.com/user-attachments/assets/2f1b95f7-d4ac-4c91-80c0-e92764797b0c)

I was able to get the file validated correctly by adding a space
![Image](https://github.com/user-attachments/assets/02543f7b-7987-48eb-ab7f-1c0547cd68af)

The PDF/A was created by Acrobat Distiller 9.3.0 (Windows) and you can find the original and the fixed documents attached. 

Is this a bug which can get fixed in VeraPDF or do we have to fix the PDFs themselves? 

[p0001.pdf](https://github.com/user-attachments/files/18644250/p0001.pdf)
[p0001-fixed.pdf](https://github.com/user-attachments/files/18644251/p0001-fixed.pdf)


Isn't the NUL after the DE more likely to be the culprit?

You're right. Here's the same file with only the NUL removed which VeraPDF recognizes as valid.

[p0001-no-null.pdf](https://github.com/user-attachments/files/18644910/p0001-no-null.pdf)

As an aside, in both [p0001-fixed.pdf](https://github.com/user-attachments/files/18644251/p0001-fixed.pdf) and [p0001-no-null.pdf](https://github.com/user-attachments/files/18644910/p0001-no-null.pdf) you actually have 

![Image](https://github.com/user-attachments/assets/081e7ab9-abe6-426d-b3e2-c90ee1ae49df)

I.e. no space between `/Lang` and the opening bracket `(`, and no 0x00 byte anymore.

Thus, you effectively only tested removing the NULL ;).

Furthermore, you have changed the encoding of that string to UTF-16 while in the original file it was encoded in PDFDocEncoding. But that likely was not a relevant change.

Interestingly, PDF and PDF/A are both vague about _exactly_ how the `/Lang` entry should be parsed besides stating that in 14.9.2.2 "_... \[is a] Language-Tag as defined in BCP 47._"  Does leading or trailing whitespace invalidate the entry?

RFC 5646 states, "_Whitespace is not permitted in a language tag_" in [2.1 Syntax](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1), 2nd last paragraph (assuming NUL counts as whitespace). This is very buried so maybe this needs to be noted somewhere for PDF/A (and PDF/UA) devs?

Leaving for @bdoubrov to decide in case he knows of some wording somewhere I have missed or past advice/discussions...

>A language identifier shall either be the empty text string, to indicate that the language is unknown, or a Language-Tag as defined in BCP 47.

"shall be" to me sounds like equality, i.e. no whitespace allowed. "shall contain" could have been argued to allow for whitespace.

My 2c ;)

> RFC 5646 states, "_Whitespace is not permitted in a language tag_" in [2.1 Syntax](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1), 2nd last paragraph (assuming NUL counts as whitespace). This is very buried so maybe this needs to be noted somewhere for PDF/A (and PDF/UA) devs?

This is more explicit in the RFC 4647, which is general syntax for Language Tags:

6. Character Set Considerations: "Language tags permit only the characters A-Z, a-z, 0-9, and HYPHEN-MINUS (%x2D)."

So, I think not permitting trailing NULL is very logical. In the end this is most likely non-intentional implementation issue.


Where can we note this for posterity? 
I assume veraPDF might even now do a regex check on the contents of the **Lang** keys!

I did a bit more research: 
* 32K-2 normatively defines "BCP 47" as RFC 5646 
* [RFC 5646, section 2.1](https://www.rfc-editor.org/rfc/rfc5646.txt) **does** clearly define the lexical rules (no whitespace, case insensitive, etc). So no problem for PDF/A-4 as it inherits this reference and thus validators like veraPDF can reject whitespace **Lang** entries.
* https://www.rfc-editor.org/info/bcp47 states that RFC 3066 was obsoleted by RFC 4647, not RFC 5646
* https://www.rfc-editor.org/info/bcp47 also gives a nice summary of the intentions behind each of RFC 4647 and RFC 5646
* 32K-2 does NOT currently reference RFC 3066 or RFC 4647, only RFC 5646 so the "upgrade" from RFC 3066 was maybe not cleanly enough...

Quoting https://www.rfc-editor.org/info/bcp47 about RFC 4647:
> ... Filtering produces a (potentially empty) set of language tags, whereas lookup produces a single language tag. Possible applications include language negotiation or content selection. This document, in combination with RFC 4646, replaces RFC 3066, which replaced RFC 1766. 

So I think the question for the errata is whether 32K-2 should _also_ reference RFC 4647 since it defines the "_mechanism_" for language determination of "_content selection_"? Or should PDF/A and PDF/UA just do that as the stricter subsets where deterministic language maybe matters more? Or is that "too processor-y" for everything and a regex for valid **Lang** strings is all that matters (and which is covered by the existing BCL-47/RFC 5646 reference in 32K-2)?